@keyframes caret{ 
	50%{ opacity:0.1; transform:scaleY(.9); } 
}
@-webkit-keyframes caret{
	50%{ opacity:0.1; -webkit-transform:scaleY(.9); } 
}

.fancyInput :-moz-placeholder{ color:rgba(255,255,255,0.2); } /* deprecated. but works for now. should use double '::'*/
.fancyInput :-webkit-placeholder{ color:rgba(255,255,255,0.2); }

.fancyInput{ display:block; white-space:nowrap; font-family: Oswald, sans-serif; font-size:30px; position:relative; }
.fancyInput.textarea{ white-space:normal; overflow:auto; }
	.fancyInput input, textarea{ color:transparent; position:absolute; z-index:2; width:100%; height:auto; border:none; box-shadow:none; outline:none; top:0px; left:0; background:none; padding:inherit; padding-bottom:0; font-family: Oswald, sans-serif; font-size:30px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; }
	.fancyInput input{ top:1px; left:-1px; padding-right:0; }
	.fancyInput input:focus { border:none; outline: none; box-shadow:none;}
	.fancyInput textarea{ word-break:break-all; overflow:hidden; height:100%; }
	.fancyInput > div{ display:inline-block; line-height:45px;}
	.fancyInput.textarea > div{ width:99.9%%; }

	.fancyInput *:focus ~ .caret,
	.fancyInput *:focus ~ div .caret{ opacity:.8; box-shadow:0 0 0px #000; -webkit-animation:0.8s 40ms caret infinite; animation:0.8s 40ms caret infinite; }
	.fancyInput .caret:only-child{  }
	.fancyInput .caret{ font-weight:normal; opacity:0; display:inline-block; width:1px; height:35px; margin-top:5px; border:none; margin-left:-1px; background:#000; -moz-user-select:none; }
	.fancyInput span:not(.deleted) ~ .caret{ position:absolute; margin:5px 2px 2px 0; } /* only Caret which is  */

		/* lettes */
		.fancyInput > div span{ -webkit-transition:500ms cubic-bezier(0.08, 0.6, 0.56, 1.4); transition:500ms cubic-bezier(0.08, 0.6, 0.56, 1.4); display:inline-block; position:relative; }
		.fancyInput > div .deleted{ opacity:0; -webkit-transition:140ms; transition:140ms; -webkit-transform:translateX(12px); transform:translateX(12px); }

		/*.fancyInput > div span:last-of-type ~ br{ display:block; white-space:pre; }*/
		/*.fancyInput br:last-of-type + .caret{ position:static; display:inline-block; }*/
		
		/* text effects */
/*		.fancyInput > div span.state1{ -webkit-transform:translateY(-25px) rotateX(90deg); transform:translateY(-25px) rotateX(90deg); }
		.fancyInput > div span.state2{ -webkit-transform:translateY(25px) rotateX(90deg); transform:translateY(25px) rotateX(90deg); }*/


/*.fancyInput > div span.state1,
.fancyInput > div span.state2 {  }*/
/*.effect3 .fancyInput > div span{ -webkit-transition:200ms cubic-bezier(0.08, 0.6, 0.56, 1.4); transition:200ms cubic-bezier(0.08, 0.6, 0.56, 1.4); }
.effect3 .fancyInput > div span.state1,
.effect3 .fancyInput > div span.state2{ opacity:0; -webkit-transform:scale(0.4); transform:scale(0.4); -webkit-filter:blur(2px); }

.effect4 .fancyInput > div span{ -webkit-transition-duration:150ms; transition-duration:150ms; }
.effect4 .fancyInput > div span.state1,
.effect4 .fancyInput > div span.state2{ opacity:0; -webkit-transform:translateY(-60px); transform:translateY(-60px); }

.effect5 .fancyInput > div span{ -webkit-transition-duration:150ms; transition-duration:150ms; }
.effect5 .fancyInput > div span.state1,
.effect5 .fancyInput > div span.state2{ opacity:0; -webkit-transform:translateX(-30px); transform:translateX(-30px); opacity:0; }*/