@import url(http://fonts.googleapis.com/css?family=Oswald:400,700);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
div {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  padding: 0 10px;
  -webkit-box-sizing:border-box;
}

body {
  background-image: url("../img/escheresque.png");
  background-size: auto;
  background-repeat: repeat repeat;
  font-family: Oswald, sans-serif;
}

.fancyInput {
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #CCC;
  height: 45px;
  margin-bottom: 10px;
  padding: 4px 6px;
  position: absolute;
  left: 10;
  right: 10;
  overflow:auto;
}

/* text animation */
.fancyInput > div span.state1,
.fancyInput > div span.state2{ -webkit-transform:translateY(-10px) scale(1.4); transform:translateY(-10px) scale(1.4); opacity:0; }

#results {
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #CCC;
  margin: 0;
  padding: 0;

  position:absolute;
  top: 187px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  min-height: 100px;
  overflow: auto;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

@-webkit-keyframes counter{
  50%{ -webkit-transform:scale(1.1); } 
}

#counter {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
  -webkit-animation:0.8s 40ms counter infinite;
  animation:0.8s 40ms counter infinite;
}

#results .result {
  border-bottom: 1px solid #CCC;
  height: 50px;
  padding: 10px;
  position: relative;
  background-color: #FFF;
  cursor: pointer;
}

#results .result:first-child {
  border-radius: 4px 4px 0 0;
}

#results .result:hover {
  background-image: -webkit-linear-gradient(top, #e1efff, #ccdff7);
}

#results .result .result-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 1px solid #CCC;
  border-radius: 3px;
  margin-right: 10px;
  background-color:#FFF;

  text-align: center;
  color: #CCC;
}
#results .result .result-icon:after {
  font-size:40px;
  line-height:52px;
  content: "?";
}

#results .result .filepath {
  display: inline-block;
  height: 52px;
  line-height: 52px;
  vertical-align: top;
  font-size: 40px;
}
.filepath {
  color: #999;
}

#results .result .filepath .directory {
  font-size: 14px;
}
.filepath .highlight {
  color: #000;
}

#results .result .result-size {
  display: inline-block;
  height: 52px;
  line-height: 52px;
  vertical-align: top;
  float: right;
}

#results .result .result-icon.result-icon-docx:after {
  font-family: Georgia;
  font-size: 40px;
  line-height: 52px;
  font-style: oblique;
  margin-left: -5px;
  content: "W";
}

#results .result .result-icon.result-icon-cpp:after {
  font-family: Tahoma;
  font-size: 20px;
  line-height: 52px;
  content: "C++";
}

#results .result .result-icon.result-icon-php:after {
  font-family: Arial;
  font-size: 20px;
  line-height: 52px;
  font-style:italic;
  content: "php";
}

#results .result .result-icon.result-icon-txt:after {
  font-family: 'Times New Roman';
  font-size: 20px;
  line-height: 52px;
  font-style:italic;
  content: "lorem";
}

#results .result .result-icon.result-icon-html:after {
  font-family: 'Droid Sans Mono', monospace;
  font-size: 28px;
  line-height: 52px;
  content: "</>";
}

#results .result .result-icon-thumbnail {
  border: none;
  line-height: 0;
  margin:0;
  padding:0;
}

#results .result .result-icon-thumbnail img {
  max-width: 50px;
  max-height: 50px;
  vertical-align: top;
}

#results .result .result-icon.result-icon-thumbnail:after {
  font-size:40px;
  line-height:52px;
  content: "";
}

#fileview {
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #CCC;
  margin: 0;
  padding: 0;

  position:absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  min-height: 100px;
  overflow: auto;
  z-index: 10;
}

#fileview-back {
  text-align: center;
  font-size: 20px;
  padding: 5px;
  background-color: #6087c2;
  color: white;
  cursor: pointer;
  height: 25px;
  border-radius: 4px 4px 0 0;
}

#fileview-back:hover {
  background-color: #87acf4;
}

#fileview .filepath {
  text-align: center;
  border-bottom: 1px solid #CCC;
  height: 25px;
  padding: 5px;
}

#fileview-frame-container {
  position: absolute;
  top: 71px; /* 5 + 25 + 5 + 5 + 25 + 5 + 1 = 71px */
  bottom: 4px;
  left: 3px;
  right: 3px;
}
#fileview-frame {
  width: 100%;
  height: 100%;
  border: none;
}

#errormessage {
  font-size: 30px;
}

/* For tinybox */
.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tinner {padding:15px; -moz-border-radius:5px; border-radius:5px; background:#fff; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer;}
.tclose:hover {background-position:0 -30px}